
  #myDIV {
    height:300px;
    background-color:#FFFFFF;
  }
  
  #myDIV p {
    background-color: blue;
    padding: 10px;
    margin: 20px;  
    display:inline-grid;
  }
  
  #myDIV span {
    background-color: red;
    padding: 10px;  
    color: white;
  }